fastapi
uvicorn
langchain
langchain-openai
langchain-ollama
langchain-community
faiss-cpu
transformers
sentence-transformers
pypdf
streamlit
python-dotenv
--extra-index-url https://download.pytorch.org/whl/cpu
torch
python-multipart
requests
supervisor
